
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
weights/*.weights
__pycache__
checkpoints
pytorch/
.vscode/
data/custom/
data/samples/
logs/
weights/
Bhanuka.pem
Bhanuka_SG.pem
expirements/