[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=16
subdivisions=1
width=416
height=416
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 500200
policy=steps
steps=400000,450000
scales=.1,.1

#0
[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

# Downsample

#1
[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky

#2
[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=leaky

#3
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

#4
[shortcut]
from=-3
activation=linear

# Downsample

#5
[convolutional]
batch_normalize=1
filters=128
size=3
stride=2
pad=1
activation=leaky

#6
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

#7
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#8
[shortcut]
from=-3
activation=linear

#9
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

#10
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

#11
[shortcut]
from=-3
activation=linear

# Downsample

#12
[convolutional]
batch_normalize=1
filters=256
size=3
stride=2
pad=1
activation=leaky

#13
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#14
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#15
[shortcut]
from=-3
activation=linear

#16
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#17
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#18
[shortcut]
from=-3
activation=linear

#19
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#20
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#21
[shortcut]
from=-3
activation=linear

#22
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#23
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#24
[shortcut]
from=-3
activation=linear

#25
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#26
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#27
[shortcut]
from=-3
activation=linear

#28
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#29
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#30
[shortcut]
from=-3
activation=linear

#31
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#32
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#33
[shortcut]
from=-3
activation=linear

#34
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#35
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

#36
[shortcut]
from=-3
activation=linear

# Downsample

#37
[convolutional]
batch_normalize=1
filters=512
size=3
stride=2
pad=1
activation=leaky

#38
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#39
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#40
[shortcut]
from=-3
activation=linear


#41
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#42
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#43
[shortcut]
from=-3
activation=linear


#44
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#45
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#46
[shortcut]
from=-3
activation=linear


#47
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#48
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#49
[shortcut]
from=-3
activation=linear

#50
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#51
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#52
[shortcut]
from=-3
activation=linear

#53
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#54
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#55
[shortcut]
from=-3
activation=linear


#56
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#57
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#58
[shortcut]
from=-3
activation=linear

#59
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#60
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

#61
[shortcut]
from=-3
activation=linear

# Downsample

#62
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=2
pad=1
activation=leaky

#63
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

#64
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

#65
[shortcut]
from=-3
activation=linear

#66
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

#67
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

#68
[shortcut]
from=-3
activation=linear

#69
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

#70
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

#71
[shortcut]
from=-3
activation=linear

#72
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

#73
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

#74
[shortcut]
from=-3
activation=linear

######################

#75
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

#76
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

#77
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

#78
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

#79
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

#80
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

#81
[convolutional]
size=1
stride=1
pad=1
filters=255
activation=linear


#82
[yolo]
mask = 6,7,8
anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
classes=80
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1


#83
[route]
layers = -4

#84
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#85
[upsample]
stride=2

#86
[route]
layers = -1, 61


#87
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#88
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky

#89
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#90
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky

#91
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

#92
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky

#93
[convolutional]
size=1
stride=1
pad=1
filters=255
activation=linear


#94
[yolo]
mask = 3,4,5
anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
#anchors = 100,100, 100,100, 100,100,100,100, 100,100, 100,100,100,100, 100,100, 100,100
classes=80
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1


#95
[route]
layers = -4

#96
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#97
[upsample]
stride=2

#98
[route]
layers = -1, 36


#99
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#100
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

#101
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#102
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

#103
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

#104
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

#105
[convolutional]
size=1
stride=1
pad=1
filters=255
activation=linear


#106
[yolo]
mask = 0,1,2
anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
classes=80
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1
